.jumbotron {
  background-color: #e9e62f;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e9e62f;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }

.carousel-item > img {
  height: 400px;
  width: 600px; }
